// Contentdesign

.cards{
margin: 0 auto;
margin-top: 200px;
height: 800px;
width: 800px;
border: 1px solid;
display: flex;
justify-content: center;
align-items: center;
}



//Buttonstyle

button {
    box-shadow : 3px 3px 3px rgba(0,0,0,0.3);
    height : 25px;
    width:119px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}



//Buttoncontainer
.buttoncontainer {

border: solid 1px;
height: 100px;

}


//Überschriftstyle

h3 {

font-style: sans-serif;

}
